@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");

/* ----------------------------- reset ----------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

/* ----------------------------- color de fondo para todas las paginas ----------------------------- */

body {
    background: linear-gradient(#12637E, #032845);
    height: 100vh;
}

/* ----------------------------- color de fuente para todo ----------------------------- */

h1,
h2,
h3,
p,
span,
li,
a,
label {
    color: white;
}

/* ----------------------------- index ----------------------------- */

.main__index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__index h1,
h2,
h3,
ul {
    margin-block: 10px;
}

.main__index h1 {
    margin-top: 120px;
}

.main__index h3 {
    margin-bottom: 60px;
}

.main__index ul li {
    margin-block: 10px;
}

.main__index ul li a {
    font-size: 20px;
}

.main__index a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ----------------------------- busqueda ----------------------------- */

.main__busqueda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__busqueda h1,
h2,
p,
ul {
    margin-block: 10px;
}

.main__busqueda h1 {
    margin-top: 40px;
}

.main__busqueda p {
    font-weight: 600;
}

.main__busqueda__ultimaBusqueda {
    margin-left: 700px;
}

.main__busqueda__ultimaBusqueda p {
    font-weight: 400;
}

.main__busqueda form input {
    margin-block: 10px;
}

.main__busqueda__form input {
    display: block;
    margin: auto;
}

.main__busqueda__form__text {
    width: 220px;
    padding: 2px 8px;
}

.main__busqueda__form__button {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    padding: 8px 20px;
    margin-block: 10px;
    transition: all 0.3s ease 0s;
}

.main__busqueda__form__button:hover {
    background-color: rgb(220, 220, 220);
}

.main__busqueda__objetoEncontradoRender {
    margin-right: 700px;
}

.main__busqueda__index {
    margin-top: 50px;
    font-size: 20px;
}

.main__busqueda__index:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ----------------------------- asistente ----------------------------- */

.main__asistente {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__asistente h1,
h2,
p {
    margin-block: 10px;
}

.main__asistente h1 {
    margin-top: 40px;
}

.main__asistente p {
    font-weight: 600;
    font-size: 18px;
}

.main__asistente__form__factura {
    display: flex;
}

.main__asistente__form__factura label {
    margin: auto;
    font-size: 14px;
}

.main__asistente form input {
    margin-block: 10px;
    width: 300px;
}

.main__asistente__form input {
    display: block;
    margin: auto;
}

.main__asistente__form label {
    font-size: 18px;
}

.main__asistente__form__text__nombre {
    padding: 2px 8px;
}

.main__asistente__form__number__dinero {
    padding: 2px 8px;
}

.main__asistente__form__factura__checkbox {
    width: 15px !important;
}

.main__asistente__form__button {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    padding: 8px 20px;
    margin-block: 30px !important;
    width: 100px !important;
    transition: all 0.3s ease 0s;
}

.main__asistente__form__button:hover {
    background-color: rgb(220, 220, 220);
}

.main__asistente__index {
    margin-top: 75px;
    font-size: 20px;
}

/* ----------------------------- listarproductos ----------------------------- */

.main__listarproductos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__listarproductos h1,
h2,
p {
    margin-block: 10px;
}

.main__listarproductos h1 {
    margin-top: 40px;
}

.main__listarproductos h2 {
    margin-bottom: 60px;
}

.main__listarproductos__ul li {
    margin-bottom: 6px;
}

.main__listarproductos__index {
    margin-top: 40px;
    font-size: 20px;
}